a{
  text-decoration: none;
  color: #0f7173;
  transition-duration: 0.2s;
}

a:visited{
  color: #0f7173;
}

a:hover{
  color: #19BCBF;
}

p{
  font-family: "Fredoka", sans-serif;
  font-size: 1.5em;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2em;
  transition-duration: 0.3s;
}

hr{
  border: 0.15em none #0f7173;
  border-top-style: solid;
  transition-duration: 0.3s;
  width: 30%;
}

hr:hover{
  border: 0.15em none #272932;
  border-top-style: solid;
  transition-duration: 0.3s;
  width: 40%;
}

body{
  background-color:#e7ecef;
  padding:0px;
  margin:0
}

img{
  border: 0.1em solid #0f7173;
  transition-duration: 0.3s;
}

img:hover{
  border: 0.1em solid #f05d5e;
  transition-duration: 0.3s;
}

table{
  table-layout: auto;
  width:100%;
  padding: 1.5em;
  height:100%;
  margin: 0px;
}

td{
  background-color: #e7ecef;
  border: 0.1em solid #CDD1D4;
  border-collapse: collapse;
  text-align: center;
  transition-duration: 0.3s;
  height:100%;
  margin: 0px;
}

tr{
  height:100%;
  margin: 0px;
}

td:hover{
  background-color: #DADDE0;
}

iframe{
  width:100%;
  height:100%;
}

.bold{
  font-weight: bolder;
}

.tableFixed{
  table-layout: fixed;
}

.tableImg{
  max-width: 20vw
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  min-width:40vw;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.container{
  width: 100%;
  height: 100vh;
  position: static;
  display:block;
  justify-content: center;
}

.divCenterV{
  top: 40%;
}

.divCenterH{
  right: 50%;
  transform: translate(50%, 0%);
  position: relative;
}

.textCenter{
  text-align: center;
}

.header{
  font-family: "Rubik", sans-serif;
  color: #0f7173;
  transition-duration: 0.3s;
}

.header:hover{
  font-family: "Rubik", sans-serif;
  color: #272932;
  transition-duration: 0.3s;
}

.body{
  font-family: "Fredoka", sans-serif;
  color: #272932;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4 {
  display: none;
}

mySlides1, mySlides2, mySlides3, mySlides4 {
  width:100%;
  height:100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #272932;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(200, 203, 207,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 0.8em;
  position: absolute;
  bottom: .1em;
  width: 100%;
  text-shadow: 2px 2px 2px #272932;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #272932;
  font-size: 0.9em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  height:100%;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.tableContainer{
  max-width: 75vw;
  max-height:75vw;
  align-self: center;
}

.slideShowImage{
  height:500px;
  width: 500px;
}

#navBar{
  list-style-type: none;
  margin:2px;
  padding:3px;
  text-align: center;
  position:sticky;
}

#navBar li{
  float:left;
  text-align: center;
  padding-top: 10px;
  width: 25%;
  background-color: #0F7173;
  height:2em;
}

#navBar li:hover{
  background-color: #F05D5E;
}

#navBar a{
  color: #D3E5E6;
}

#navBar a:hover{
  color: white;
  cursor: pointer;
}

#navDiv{
  height:2.5em;
}

#navDiv hr{
  width:100vw;
  color: black;
}
